# .env

# customize this line!
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name"

# to use sqlite:
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/app.db"

# Spryng settings
SPRYNG_USERNAME="username"
SPRYNG_PASSWORD="password"

###> symfony/swiftmailer-bundle ###
# https://symfony.com/doc/current/email.html
# https://symfony.com/doc/current/email/dev_environment.html
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="

# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost

# use this to configure a traditional SMTP server
#MAILER_URL=smtp://localhost:25?encryption=ssl&auth_mode=login&username=&password=

###< symfony/swiftmailer-bundle ###


###< symfony/swiftmailer-bundle ###
