.env
.env*
!.env.dist
.DS_Store
config/services.yaml
config/routes.yaml
config/bundles.php
modules/*
!modules/note.txt
!modules/Background
!modules/.gitignore
Migrations/*
!Migrations/.gitignore
var/cache/*
vendor/*
!vendor/.gitignore
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
