.env
.env*
!.env.dist
.DS_Store
config/services.yaml
config/routes.yaml
config/bundles.php
config/packages/twig.yaml
modules/*
!modules/note.txt
!modules/Background
!modules/.gitignore
Migrations/*
!Migrations/.gitignore
var/cache/*
vendor/*
!vendor/.gitignore
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
