#header-top {

    height: 4rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    .navbar-brand {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        img {
            max-height: 50px;
        }
    }

    .navbar-nav {
        li {
            a {
                color: white;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-weight: 400;
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }

}
