.admin-navigation {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 240px;
    padding-bottom: 30px;
    z-index: 2;

    .admin-logo {

        width: 100%;
        overflow: hidden;

        a {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 24px;
            padding: 14px 0;
            text-align: center;
        }
        a:hover {
            text-decoration: none;
        }

        img {
            max-height: 100%;
            max-width: 100%;
            margin-left: 0 auto;
        }
    }

    ul {
        list-style: none;
        width: 100%;
        padding-left: 0;
        li {
            width: 100%;
            text-align: left;
            position: relative;
            a {
                display: block;
                width: 100%;
                padding: 14px 5px 14px 20px;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                font-weight: 300;
                font-size: 0.8rem;
                letter-spacing: 0.1rem;
                i {
                    width: 40px;
                    margin-right: 0.5rem;
                    text-align: center;
                    font-size: 1rem;
                }
                i.fa-chevron-right {
                    float: right;
                }
                .icon {

                }
                .label {

                }
            }
            a:hover {
                text-decoration: none;
            }
            ul {
                display: block;
                position: absolute;
                left: 240px;
                top: 0;
                padding-left: 0;
                width: 200px;
                visibility:hidden;
                opacity: 0;
                list-style: none;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }
        }
        li:hover {

            ul {
                visibility: visible;
                opacity: 1;
                width: 200px;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }
    }
}



.collapsed {
    .admin-menu {




    }
}
