
.admin-container {
    width: 90%;
    min-height: 96vh;
    margin: 0 auto;
    position: relative;
}

.admin-content {
    min-height: 96vh;
    background: rgba(255,255,255,0.95);
    padding: 15px;
    padding-top: 20px;
    margin-left: 275px;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.2rem;

    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    label {
        margin-bottom: 0;
    }
}

footer {
    clear: both;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: #333;
    text-shadow: white 1px 1px;
}

.alert {

    p {
        margin-bottom: 0;
    }
}

.form-control {
    background-color: rgba(255, 255, 255, 0.7);
    border: none !important;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ccc !important;
    padding: 12px 8px;
}
