.wrap-content {
	word-wrap: break-word;
}

.bg-image {
	background-image: url(/img/img-placeholder.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
