.im-style {

	.component {
		float: none;
	}

	.component-list {
		text-align: left;
	}

	span.component {
		display: inline-block;
	}

	.component p {
		text-align: inherit;
	}

	.component img {
		max-width: 100%;
	}

	.grid-block {
		text-align: center;
	}

	.component-windowWidth {
		text-align: center !important;
		float: none !important;
		clear: both;
	}

	.component-containerWidth {
		clear: both;
		width: 100%;
		max-width: 1200px;
		margin: auto !important;
	}

	.component-cover {
		text-align: center !important;
		float: none !important;
		clear: both;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
	.component-adaptWidth {
		width: 100%;
		height: auto;
		clear: both;
		padding: 10px;
		display: inline-block;
	}

	.component>.component {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.component-html {
	}

	.component-image {
		text-align: center !important;
	}

	.component-portlets img {
		width: 120px;
		margin-top: 20px;
	}

	.portlet-block {
		min-height: 140px;
		margin-bottom: 40px;
	}

	.portlet-block h3 {
		font-size: 20px;
	}

	.component-list ul {
		list-style: circle !important;
		margin-left: 20px !important;
	}

	.component-list ol {
		list-style: decimal !important;
		margin-left: 20px !important;
	}


	/* Content Listing */

	.im-item-listing {

		.im-item-listing-item {
			margin-bottom: 15px;

			h3 {
				margin-bottom: 0;
				a {
					color: #333;
				}
			}
			p {
				margin-bottom: 0;
			}
			a {
				color: green;
				font-size: 0.85em;
			}
			.score {
				color: #AAA;
				font-size: 0.7em !important;
			}
		}
	}

}