.data-manager-table {

    thead {

        tr {

            th:last-child {
                text-align: right;
            }

            .table-sort {
                cursor: pointer;
            }

        }
        .table-filter td {
            padding: 0;
            background: white;
        }
        .table-filter td input {
            padding: 8px;
            width: 100%;
            border: 0;
        }


    }

    tbody {

        tr {

            td:last-child {
                text-align: right;
            }

        }

        tr.to-delete {
            background-color: red !important;
            background-color: rgba(255,0,0,0.2) !important;
            color: white;
        }

    }

}

.select-limit {
    display: inline-block;
    width: 70px;
}




.im-table-filter td {
    padding: 0;
    background: white;
}
.im-table-filter td input {
    padding: 8px;
    width: 100%;
    border: 0;
}
