
.im-table-filter td {
    padding: 0;
    background: white;
}
.im-table-filter td input {
    padding: 8px;
    width: 100%;
    border: 0;
}
#dt-modal {
    .modal-label {
        font-weight: bold;
        text-transform: capitalize;
    }
}
