:not(.position-top) #site-scroll-down {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}
.position-top #site-scroll-down {
    display: block;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#site-scroll-down {
    position: fixed;
    bottom: 150px;
    left: 50%;
    margin-left: -1.5rem;
    font-size: 3rem;
    z-index: 9000;
    color: #333;
    background: white;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.3rem;
    border-radius: 1.5rem;
    text-align: center;
    overflow: visible;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
#site-scroll-down i {
    margin-top: 2px;
}

.position-top #site-scroll-to-top {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}
:not(.position-top) #site-scroll-to-top {
    display: block;
}

#site-scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    font-size: 3rem;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9000;
    color: #333;
    background: white;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.3rem;
    border-radius: 1.5rem;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
#site-scroll-to-top i {
    margin-top: 2px;
}

#site-scroll-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
