#site-scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -1.5rem;
    font-size: 3rem;
}

#site-scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 3rem;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#site-scroll-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
