html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        padding-top: 90px;
        padding-bottom: 10px;
    }
}

.main-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.main-content {
    height: 100%;
    background: rgba(255,255,255,0.95);
    padding: 15px;
    padding-top: 20px;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;

    h1 {
        font-size: 2rem;
    }

    label {
        margin-bottom: 0;
    }
}

footer {
    width: 100%;
    text-align: center;
}

.alert {

    p {
        margin-bottom: 0;
    }
}
