body {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    background-color: rgb(252,252,252);
}

body {
    background-color: rgb(250,250,250);
    background-color: rgba(255,255,221,0.87);
    background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(255,255,221,0.87), rgba(204,204,204,0.85) 80%, rgba(255,221,238,0.89) 120%);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,221,0.87), rgba(204,204,204,0.85) 80%, rgba(255,221,238,0.89) 120%);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,221,0.87), rgba(204,204,204,0.85) 80%, rgba(255,221,238,0.89) 120%);

	$text-color: 			#333333;
    $text-color-reverse: 	#ffffff;
	$bg-color: 				#FFFFFF;
	$link-color:			#CC4422;
	$link-color-reverse:	#ffffff;

	@import 'theme-components';
}
