<footer class="container-fluid font-12">
    {{blockservice.getBlock('footer')|raw}}
    <div class="text-center">
        &copy; {{ "now"|date('Y') }} {{settingservice.get('company.name')}}.
        {% trans %}All rights reserved.{% endtrans %}
    </div>
</footer>
