/*.*
/*
!.gitignore
!background/.gitignore
!background/index.html
!flags/*
!default-300x169.png
!loader.gif
!index.html
!scroll-down.png
!scroll-down-white.png
!img-placeholder.png
!default-user-image.png
