<h4>{% trans %}API keys{% endtrans %}</h4>
<table class="table table-striped mb-5">
    <thead class="thead-dark">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Token{% endtrans %}</th>
            <th>{% trans %}Active{% endtrans %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if api_keys %}
            {% for api_key in api_keys %}
            <tr>
                <td>{{api_key.keyName}}</td>
                <td>{{api_key.token}}</td>
                <td></td>
                <td><a class="delete-api-key" data-id="{{api_key.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<h4>{% trans %}New API key{% endtrans %}</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_api_key_name">{% trans %}API key name{% endtrans %}</label>
            <input id="form_api_key_name" name="form_api_key_name" class="form-control" type="text">
            <input id="form_api_key_user_id" name="form_api_key_user_id" class="form-control" type="hidden" value="">
        </div>
    </div>
</div>
<button id="create-new-api-key" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>

<script>
    $(document).ready(function() {

        $('#create-new-api-key').click(function() {

            var name = $('#form_api_key_name').val();







        });

        $('.delete-api-key').click(function() {

            var id = $(this).data('id');





            $(this).parent().parent().hide();

        });
    });
</script>
