<div class="form-group">
    <label for="form_note">{% trans %}Notes{% endtrans %}</label>
    <textarea name="form_note" class="form-control" rows="30" placeholder="{% trans %}Write a note{% endtrans %}">{{note}}</textarea>
</div>
