
.btn-touch {

    display: inline-block;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e6 94%, #cfcfce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e7e7e6 94%,#cfcfce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e7e7e6 94%,#cfcfce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfce',GradientType=0 ); /* IE6-9 */

    border: 1px solid #B1B1B1;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    margin: 0.5rem;

    color: #555 !important;
    font-size: 1.2rem;
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-box-shadow: 0px 9px 11px -9px rgba(85,85,85,1);
    -moz-box-shadow: 0px 9px 11px -9px rgba(85,85,85,1);
    box-shadow: 0px 9px 11px -9px rgba(85,85,85,1);
}

.btn-touch-big {

    display: block;
    padding: 1.4rem auto;

    color: #555 !important;
    font-size: 1.4rem;
    text-decoration: none !important;
    text-align: center;
}
.btn-touch-big span i {
    display: block;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .btn-touch span i {
        display: none;
    }
}
