{% extends templateservice.getTemplate() %}

{% set page_title = 'Page not found' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/error.jpg" class="img-fluid" alt="Error">
        </div>
        <div class="col-sm-6 pt-5">
            <h1>{% trans %}Error{% endtrans %}</h1>
            <p>
                {{blockservice.getBlock('error')|raw}}
            </p>
        </div>
    </div>
</div>
{% endblock %}
