html, body {
    width: 100%;
    background-color: rgb(252,252,252);
}

body {
min-height: 100vh;
padding-top: 2vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	$text-color: 			#333333;
    $text-color-reverse: 	#ffffff;
	$bg-color: 				#FFFFFF;
	$link-color:			#CC4422;
	$link-color-reverse:	#ffffff;

    // Load template styles
    @import 'theme';
    @import 'structure';
    @import 'navigation';
}

.zend-developer-toolbar {
    color: #fff !important;
}
