{% extends templateservice.getAdminTemplate() %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <form id="form-file-filter" class="ten form-inline" method="post">
        <div class="form-group mr-3">
            <select id="file-group2" name="file-group" class="form-control">
                <option value="">- {% trans %}Filter by group{% endtrans %} -</option>
                {% if file_groups %}
                        {% for file_group in file_groups %}
                <option value="{{ file_group.id }}">{{ file_group.name }}</option>
                        {% endfor %}
                {% endif %}
            </select>
        </div>
        <button class="btn btn-secondary" type="submit">{% trans %}Filter{% endtrans %}</button>
        <button id="btn-file-upload" class="btn btn-success float-right"><i class="fas fa-upload"></i> {% trans %}Upload a file{% endtrans %}</button>
    </form>
</nav>
<div id="files-container" class="row mt-4"></div>
<div id="file-upload-container" class="row mt-4" style="display:none;">
    <button id="btn-upload-cancel" class="btn btn-danger float-right">{% trans %}Cancel upload{% endtrans %}</button>
    <form action="/ajax/file/upload/" method="post" enctype="multipart/form-data" id="file-upload-form">
        <input type="hidden" id="file-group" name="file-group">
        <input type="hidden" id="hide" name="0">
        <input type="file" id="file-field" name="files[]" multiple="multiple">
        <button class="btn btn-secondary" type="submit">{% trans %}Test{% endtrans %}</button>
    </form>
    <div id="file-upload-drop" class="mt-4">
        <h2>{% trans %}Drop a file in this box{% endtrans %}</h2>
        <div>or</div>
        <button id="btn-file-select" class="btn btn-lg btn-primary mt-3">{% trans %}Select a file{% endtrans %}</button>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #file-upload-container {
            padding: 15px;
        }
        #file-upload-drop {
            width: 100%;
            height: 400px;
            border: 3px dashed #999;
            text-align: center;
            padding-top: 120px;
        }
        #btn-file-select {

        }

        .file-item .card-img-top {
            max-height: 120px;
            width: auto;
            max-width: 100%;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        jQuery(document).ready(function() {

            var data;
            var cards;

            jQuery(document).on('change', '#form-file-filter input, #form-file-filter select', function() {
                loadFiles();
            });
            jQuery(document).on('click', '.file-item', function() {
                var id = jQuery(this).data('id');
                loadFileDetail(id);
            });
            jQuery(document).on('click', '#back-to-list', function() {
                jQuery('#files-container').fadeOut(200, function() {
                    jQuery('#files-container').html(cards);
                    jQuery('#files-container').fadeIn(200);
                });
            });
            jQuery(document).on('click', '#btn-file-upload', function(e) {
                e.preventDefault();
                jQuery('#files-container').fadeOut(200, function() {
                    jQuery('#file-upload-container').fadeIn(200);
                });
            });
            jQuery(document).on('click', '#btn-upload-cancel', function(e) {
                e.preventDefault();
                jQuery('#file-upload-container').fadeOut(200, function() {
                    jQuery('#files-container').fadeIn(200);
                });
            });
            jQuery(document).on('click', '#file-upload-drop, #btn-file-select', function(e) {
                jQuery('#file-field').click();
            });
            jQuery('html').bind("drop", function(e) {
                e.preventDefault();
                e.stopPropagation();
            });
            $('html').on('dragover', function(e) {
                e.preventDefault();
                e.stopPropagation();
            });
            jQuery('#file-upload-drop').bind("drop", function(e) {
                e.preventDefault();
                e.stopPropagation();
                var files = e.originalEvent.dataTransfer.files;
                processFileUpload(files);
                return false;
            });

            loadFiles();

            function loadFiles()
            {
                jQuery('#files-container').fadeOut(200, function() {
                    jQuery('#files-container').empty();
                    $.ajax({
                        url: '/ajax/file/get/',
                        type: 'POST',
                        dataType: 'json',
                        success: function(json) {

                            json = JSON.parse(json);
                            data = json['data'];
                            total = json['total'];

                            cards = '';
                            for (i = 0; i < data.length; i++) {
                                cards += createFileCard(data[i]);
                            }
                            jQuery('#files-container').html(cards);
                            jQuery('#files-container').fadeIn(200);
                        }
                    });
                });
            }
            function createFileCard(file)
            {
                var card = '<div class="col-md-2">';
                card += '<div class="card mb-4 file-item pointer" data-id="' + file['id'] + '">';
                card += '<img class="card-img-top" src="/' + file['filePath'] + file['fileName'] + '" alt="' + file['name'] + '">';
                card += '<div class="card-body pt-2 pb-2">';
                card += '<h5 class="card-title text-center font-sm mb-0">' + file['name'] + '</h5>';
                card += '</div>';
                card += '</div>';
                card += '</div>';

                return card;
            }
            function loadFileDetail(id)
            {
                jQuery('#files-container').fadeOut(200, function() {
                    jQuery('#files-container').empty();

                    for (i = 0; i < data.length; i++) {
                        if (data[i]['id'] == id) file = data[i];
                    }

                    var fileDetail = '<div class="col-sm-9">';
                    fileDetail += '<img class="img-fluid" src="' + file['filePath'] + file['fileName'] + '" alt="' + file['name'] + '">';
                    fileDetail += '</div>';
                    fileDetail += '<div class="col-sm-3">';
                    fileDetail += '<h3>' + file['name'] + '</h3>';
                    fileDetail += '<a id="back-to-list" class="ten btn btn-secondary pointer">{% trans %}Back to list{% endtrans %}</a>';
                    fileDetail += '</div>';
                    jQuery('#files-container').html(fileDetail);
                    jQuery('#files-container').fadeIn(200);
                });
            }
            function processFileUpload(droppedFiles)
            {
                var uploadFormData = new FormData($("#file-upload-form")[0]);
                if(droppedFiles.length > 0) {
                    for(var f = 0; f < droppedFiles.length; f++) {
                        uploadFormData.append("files[]",droppedFiles[f]);
                    }
                }

                jQuery.ajax({
                    url : "/ajax/file/upload/",
                    type : "POST",
                    data : uploadFormData,
                    cache : false,
                    contentType : false,
                    processData : false,
                    success : function(ret) {
                        // callback function
                    }
                });
            }
        });
    </script>
{% endblock %}
